## Load and analyze the data for the causes with highest expenditure in the US (Joe's list)

In [1]:
import pandas as pd
dex_cause_list = pd.read_excel('/ihme/homes/arjuns13/notebooks/Documents/Data/DEX_Cause list.xlsx')

In [2]:
dex_cause_list.head()

,Unnamed: 0,Most granular causes for disease expenditure research,Aggregated health conditions
0,1,Diabetes mellitus,"Diabetes, urogenital, blood, and endocrine dis..."
1,2,Ischemic heart disease,Cardiovascular diseases
2,3,Low back and neck pain,Musculoskeletal disorders
3,4,Treatment of hypertension,Expenditure on risk factors
4,5,Falls,Injuries

In [3]:
dex_cause_list = dex_cause_list.drop(columns = ['Aggregated health conditions']).rename(index=str, \
                                                                                        columns={"Unnamed: 0": "Rank",\
                                                                                                 "Most granular causes for disease expenditure research": "Cause"})

In [4]:
dex_cause_list.shape

(112, 2)

In [5]:
dex_cause_list.head()

   Rank                      Cause
0     1          Diabetes mellitus
1     2     Ischemic heart disease
2     3     Low back and neck pain
3     4  Treatment of hypertension
4     5                      Falls

In [6]:
COD_cause_list = pd.read_excel('/ihme/homes/arjuns13/notebooks/Documents/Data/COD_methods_appendix_9_HAQ_Only.xlsx',\
                               header=2, na_values='--')

In [7]:
COD_cause_list = COD_cause_list.dropna()

In [8]:
#COD_cause_list = COD_cause_list[COD_cause_list['Direction'] == -1]

In [9]:
COD_cause_list = COD_cause_list.drop(columns = ['Direction', 'Level'])

In [10]:
COD_cause_list.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 541 entries, 119 to 749
Data columns (total 6 columns):
Cause              541 non-null object
Sex                541 non-null object
Age Start          541 non-null object
Age End            541 non-null object
Model Type         541 non-null object
Number of Draws    541 non-null float64
dtypes: float64(1), object(5)
memory usage: 29.6+ KB

In [11]:
COD_cause_list.head()

,Cause,Sex,Age Start,Age End,Model Type,Number of Draws
119,Diabetes mellitus type 1,Female,0-6 days,95+ years,Data Rich,1000.0
120,Diabetes mellitus type 1,Male,0-6 days,95+ years,Data Rich,1000.0
121,Environmental heat and cold exposure,Female,0-6 days,95+ years,Data Rich,1000.0
122,Environmental heat and cold exposure,Male,0-6 days,95+ years,Data Rich,1000.0
123,Exposure to mechanical forces,Male,0-6 days,95+ years,Data Rich,1000.0

In [12]:
COD_cause_list.shape

(541, 6)

In [13]:
COD_cause_list_dataRich = COD_cause_list[COD_cause_list['Model Type'] == 'Data Rich']
COD_cause_list_dataRich.head()

,Cause,Sex,Age Start,Age End,Model Type,Number of Draws
119,Diabetes mellitus type 1,Female,0-6 days,95+ years,Data Rich,1000.0
120,Diabetes mellitus type 1,Male,0-6 days,95+ years,Data Rich,1000.0
121,Environmental heat and cold exposure,Female,0-6 days,95+ years,Data Rich,1000.0
122,Environmental heat and cold exposure,Male,0-6 days,95+ years,Data Rich,1000.0
123,Exposure to mechanical forces,Male,0-6 days,95+ years,Data Rich,1000.0

In [14]:
COD_cause_list_dataRich.shape

(256, 6)

In [15]:
COD_cause_list_Global = COD_cause_list[COD_cause_list['Model Type'] == 'Global']
COD_cause_list_Global.head()

,Cause,Sex,Age Start,Age End,Model Type,Number of Draws
465,Diabetes mellitus type 1,Female,0-6 days,95+ years,Global,1000.0
466,Diabetes mellitus type 1,Male,0-6 days,95+ years,Global,1000.0
467,Environmental heat and cold exposure,Female,0-6 days,95+ years,Global,1000.0
468,Hodgkin lymphoma,Female,0-6 days,95+ years,Global,1000.0
469,Hodgkin lymphoma,Male,0-6 days,95+ years,Global,1000.0

In [16]:
COD_cause_list_Global.shape

(285, 6)

In [17]:
COD_cause_list_all = COD_cause_list_dataRich.merge(COD_cause_list_Global, on = ['Cause', 'Sex', 'Age Start',\
                                                                                'Age End'])

In [18]:
COD_cause_list_all.head()

,Cause,Sex,Age Start,Age End,Model Type_x,Number of Draws_x,Model Type_y,Number of Draws_y
0,Diabetes mellitus type 1,Female,0-6 days,95+ years,Data Rich,1000.0,Global,1000.0
1,Diabetes mellitus type 1,Male,0-6 days,95+ years,Data Rich,1000.0,Global,1000.0
2,Environmental heat and cold exposure,Female,0-6 days,95+ years,Data Rich,1000.0,Global,1000.0
3,Environmental heat and cold exposure,Male,0-6 days,95+ years,Data Rich,1000.0,Global,674.0
4,Exposure to mechanical forces,Male,0-6 days,95+ years,Data Rich,1000.0,Global,535.0

In [19]:
COD_cause_list_all.shape

(247, 8)

In [20]:
COD_cause_list_all['Avg Num of Draws'] = (COD_cause_list_all['Number of Draws_x'] + COD_cause_list_all['Number of Draws_y'])/2

In [21]:
COD_cause_list_all = COD_cause_list_all.drop(columns = ['Age Start', 'Age End', 'Model Type_x', 'Number of Draws_x',\
                                              'Model Type_y', 'Number of Draws_y'])

In [22]:
COD_cause_list_all = COD_cause_list_all.sort_values(by = ['Avg Num of Draws'], ascending=False)

In [23]:
COD_cause_list_all.head()

                                   Cause     Sex  Avg Num of Draws
0               Diabetes mellitus type 1  Female            1000.0
5                       Hodgkin lymphoma  Female            1000.0
2   Environmental heat and cold exposure  Female            1000.0
1               Diabetes mellitus type 1    Male            1000.0
15                  Peptic ulcer disease  Female             945.5

In [24]:
COD_cause_list_male = COD_cause_list_all[COD_cause_list_all['Sex'] == 'Male']
COD_cause_list_male.head()

                                   Cause   Sex  Avg Num of Draws
1               Diabetes mellitus type 1  Male            1000.0
16                  Peptic ulcer disease  Male             903.5
17              Acute glomerulonephritis  Male             842.5
3   Environmental heat and cold exposure  Male             837.0
21                          Otitis media  Male             824.5

In [25]:
COD_cause_list_male.shape

(121, 3)

In [26]:
COD_cause_list_female = COD_cause_list_all[COD_cause_list_all['Sex'] == 'Female']
COD_cause_list_female.head()

                                   Cause     Sex  Avg Num of Draws
0               Diabetes mellitus type 1  Female            1000.0
5                       Hodgkin lymphoma  Female            1000.0
2   Environmental heat and cold exposure  Female            1000.0
15                  Peptic ulcer disease  Female             945.5
11        Fire, heat, and hot substances  Female             853.5

In [27]:
COD_cause_list_female.shape

(126, 3)

In [28]:
COD_cause_list_all_all = COD_cause_list_male.merge(COD_cause_list_female, on = ['Cause'])

In [29]:
COD_cause_list_all_all.head()

,Cause,Sex_x,Avg Num of Draws_x,Sex_y,Avg Num of Draws_y
0,Diabetes mellitus type 1,Male,1000.0,Female,1000.0
1,Peptic ulcer disease,Male,903.5,Female,945.5
2,Acute glomerulonephritis,Male,842.5,Female,713.5
3,Environmental heat and cold exposure,Male,837.0,Female,1000.0
4,Otitis media,Male,824.5,Female,790.5

In [30]:
COD_cause_list_all_all.shape

(109, 5)

In [31]:
COD_cause_list_all_all['Avg Num of Draws'] = (COD_cause_list_all_all['Avg Num of Draws_x']\
                                              + COD_cause_list_all_all['Avg Num of Draws_y'])/2

In [32]:
COD_cause_list_all_all = COD_cause_list_all_all.drop(columns = ['Avg Num of Draws_x',\
                                              'Sex_x', 'Sex_y', 'Avg Num of Draws_y'])

In [33]:
COD_cause_list_all_all = COD_cause_list_all_all.sort_values(by = ['Avg Num of Draws'], ascending=False)

In [34]:
COD_cause_list_all_all.head()

                                  Cause  Avg Num of Draws
0              Diabetes mellitus type 1            1000.0
1                  Peptic ulcer disease             924.5
3  Environmental heat and cold exposure             918.5
4                          Otitis media             807.5
2              Acute glomerulonephritis             778.0

In [35]:
dex_cause_list.head()

   Rank                      Cause
0     1          Diabetes mellitus
1     2     Ischemic heart disease
2     3     Low back and neck pain
3     4  Treatment of hypertension
4     5                      Falls

In [36]:
COD_cause_list_all_all.shape

(109, 2)

In [37]:
dex_cause_list.shape

(112, 2)

In [38]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(COD_cause_list_all_all)

                                                 Cause  Avg Num of Draws
0                             Diabetes mellitus type 1           1000.00
1                                 Peptic ulcer disease            924.50
3                 Environmental heat and cold exposure            918.50
4                                         Otitis media            807.50
2                             Acute glomerulonephritis            778.00
5                             Poisoning by other means            725.50
11                Self-harm and interpersonal violence            712.25
15                                  Drug use disorders            658.50
14                                        Appendicitis            657.50
22                              Other urinary diseases            637.00
24          Paralytic ileus and intestinal obstruction            623.75
7                                    Diabetes mellitus            623.50
37                     Upper digestive system diseases            622.25
20                                          Poisonings            599.00
6                        Exposure to mechanical forces            595.50
53                      Fire, heat, and hot substances            594.00
28                                             Tetanus            587.50
8                                    Diabetes mellitus            585.50
32                                    Ischaemic stroke            583.75
29                                             Tetanus            561.50
13                      Executions and police conflict            557.00
25                   Other neglected tropical diseases            554.75
33                                              Stroke            541.00
62                           Chronic myeloid leukaemia            534.75
31                                              Asthma            526.50
16                            Intracerebral hemorrhage            523.00
23     Non-rheumatic degenerative mitral valve disease            511.25
34                        Other unintentional injuries            508.00
9                                    Diabetes mellitus            496.50
12                             Ischaemic heart disease            490.50
27                             Subarachnoid hemorrhage            487.00
21                                       Road injuries            474.75
19                                      Bladder cancer            466.25
10                                   Diabetes mellitus            458.50
26                                  Transport injuries            446.50
63               Chronic obstructive pulmonary disease            442.75
56                                    Orofacial clefts            439.00
30                            Diabetes mellitus type 2            437.00
17                 Other exposure to mechanical forces            434.75
18                             Rheumatic heart disease            429.25
48                                        Urolithiasis            408.50
45                                           Leukaemia            405.25
68                                           Silicosis            386.25
67   Endocrine, metabolic, blood, and immune disorders            367.50
38                          Hypertensive heart disease            361.25
35                                Opioid use disorders            348.25
64                          Chronic lymphoid leukaemia            348.00
47                                Rheumatoid arthritis            335.50
60                             Cardiovascular diseases            331.25
54                            Non-melanoma skin cancer            319.75
42                         Coal workers pneumoconiosis            304.50
90                    Gallbladder and biliary diseases            304.50
41       Sexually transmitted infections excluding HIV            296.25
58   Non-melanoma skin cancer (squamous-cell carcin...            290.75
49                                          Meningitis            290.50
44       Neonatal sepsis and other neonatal infections            290.00
39                             Assault by sharp object            284.75
86                              Neonatal preterm birth            284.50
36                                    Eating disorders            284.25
81                                        Pancreatitis            283.25
40     Pulmonary aspiration and foreign body in airway            282.75
74       Other cardiovascular and circulatory diseases            271.75
65                          Other congenital anomalies            265.00
46                     Urogenital congenital anomalies            259.75
103                     Other nutritional deficiencies            254.00
69                     Foreign body in other body part            252.00
51                                          Meningitis            244.50
55                              Non-Hodgkin's lymphoma            243.00
59                          Congenital heart anomalies            242.25
43                                Other pneumoconiosis            225.00
96                              Interpersonal violence            210.50
82                        Poisoning by carbon monoxide            209.00
70                              Chronic kidney disease            202.00
50                                          Meningitis            201.75
72                                               Falls            191.25
84                          Motorcyclist road injuries            190.25
57                            Pedestrian road injuries            183.50
66                         Motor vehicle road injuries            179.25
89                      Digestive congenital anomalies            173.75
75                        Lower respiratory infections            171.50
85                                     Acute hepatitis            168.25
79                          Lip and oral cavity cancer            162.25
95                                      Animal contact            158.00
52                                          Meningitis            155.75
73       Hemolytic disease and other neonatal jaundice            154.75
88                                       Larynx cancer            149.25
104                                   Anorexia nervosa            145.25
106            Alzheimer's disease and other dementias            131.00
80                                      Thyroid cancer            128.00
61               Urinary diseases and male infertility            126.75
83                                       Breast cancer            118.00
76                        Lower respiratory infections            117.00
92                  Other chronic respiratory diseases            113.75
100                           Gastritis and duodenitis            107.00
71                                  Nasopharynx cancer            106.75
91                                      Pneumoconiosis            106.75
77                        Lower respiratory infections             96.25
99          Cirrhosis and other chronic liver diseases             87.75
87                                      Stomach cancer             72.50
93                                 Neural tube defects             52.00
98                               Cyclist road injuries             46.00
94                            Nutritional deficiencies             45.25
78                        Lower respiratory infections             41.75
101                                           Epilepsy             36.75
105                        Protein-energy malnutrition             31.00
97                            Other transport injuries             29.75
107                                 Oesophageal cancer             14.50
108                            Colon and rectum cancer             11.50
102                                Diarrhoeal diseases              8.25

In [ ]:
#with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
 #   display(dex_cause_list)

## Now that we have all the relevant causes, let's find their corresponding cause-IDs

In [39]:
all_cause_data = pd.read_csv('/ihme/homes/arjuns13/notebooks/Documents/Data/all_cause_data.csv')

In [40]:
all_cause_data = all_cause_data.drop(columns = ['acause', 'cause_description'])

In [41]:
all_cause_data.head(20)

    cause_id                                         cause_name
0        294                                         All causes
1        295  Communicable, maternal, neonatal, and nutritio...
2        296                          HIV/AIDS and tuberculosis
3        297                                       Tuberculosis
4        298                                           HIV/AIDS
5        299                            HIV/AIDS - Tuberculosis
6        300               HIV/AIDS resulting in other diseases
7        301  Diarrhea, lower respiratory, and other common ...
8        302                                 Diarrheal diseases
9        303                                            Cholera
10       304                        Other salmonella infections
11       305                                        Shigellosis
12       306                  Enteropathogenic E coli infection
13       307                   Enterotoxigenic E coli infection
14       308                            Campylobacter enteritis
15       309                                         Amoebiasis
16       310                                  Cryptosporidiosis
17       311                                Rotaviral enteritis
18       312                                          Aeromonas
19       313                              Clostridium difficile

In [42]:
COD_cause_list_with_ids = COD_cause_list_all_all.merge(all_cause_data, left_on = 'Cause', right_on = 'cause_name')

In [43]:
COD_cause_list_with_ids.head()

,Cause,Avg Num of Draws,cause_id,cause_name
0,Diabetes mellitus type 1,1000.0,975,Diabetes mellitus type 1
1,Peptic ulcer disease,924.5,527,Peptic ulcer disease
2,Environmental heat and cold exposure,918.5,842,Environmental heat and cold exposure
3,Otitis media,807.5,329,Otitis media
4,Acute glomerulonephritis,778.0,588,Acute glomerulonephritis

In [44]:
dex_cause_list = pd.read_csv('/ihme/homes/arjuns13/notebooks/Documents/Data/dex_to_gbd_cause_match.csv')

In [45]:
dex_cause_list = dex_cause_list.dropna()

In [46]:
dex_cause_list.cause_id = dex_cause_list.cause_id.astype('int64')

In [47]:
dex_cause_list.head()

   dex_cause gbd_cause  cause_id                    cause_name
20        tb        tb       297                  Tuberculosis
21       hiv       hiv       298                      HIV/AIDS
22  diarrhea  diarrhea       302            Diarrheal diseases
23       lri       lri       322  Lower respiratory infections
24       uri       uri       328  Upper respiratory infections

In [48]:
final_cause_list = dex_cause_list.merge(COD_cause_list_with_ids, on = ['cause_id'])

In [49]:
final_cause_list = final_cause_list.drop_duplicates(subset = 'Cause')

In [50]:
final_cause_list.shape

(53, 7)

In [51]:
final_cause_list = final_cause_list.drop(columns=['dex_cause','gbd_cause','cause_name_x','Avg Num of Draws','cause_name_y'])

In [52]:
final_cause_list.head()

    cause_id                         Cause
0        322  Lower respiratory infections
4        329                  Otitis media
5        332                    Meningitis
9        340                       Tetanus
11       381        Neonatal preterm birth

In [ ]:
final_cause_list.to_csv('/ihme/homes/arjuns13/notebooks/Documents/Data/Cause_List_Final_MoreEntries.csv')